* {
  transition-duration: 300ms;
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

/*boton fixed*/


#btn-checkout {
  position: fixed;
  bottom: 40;
  right: 20;
  cursor: pointer;
  z-index: 10;
}

#btn-checkout>a {
  min-width: 50px;
  height: 50px;
  width: 50px;
  justify-content: center;
  display: flex;
  border-radius: 100%;
  background-color: #4fc3f7;
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  transition-duration: 400ms;
  /* transition-duration: 500s; */
}

#btn-checkout>a>.check-label {
  visibility: hidden;
  position: absolute;
  font-size: 1px;
  transition-duration: 180ms;
  margin-left: 10px;
}

#btn-checkout>a>.check-icon {
  display: flex;
  align-items: center;
}

#btn-checkout:hover>a {
  border-radius: 10px;
  padding: 15px;
  color: white;
  width: 150px;
}

#btn-checkout:hover>a>.check-label {
  display: inline-flex;
  position: static;
  visibility: visible;
  font-size: 14px;
  transition-duration: 300ms;
}

/*Navegador*/

.navbar.active {
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  background-color: rgba(79, 195, 247, 0.9);
}

.navbar-collapse {
  justify-content: flex-end;
}

.bg-blue {
  background-color: #4fc3f7;
}

.navbar-brand img {
  width: 150px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.fas {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, .7);
}

/*card de miami*/
.container-travel {
  width: 100%;
  height: auto;
  background-color: white;
  -webkit-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
  background-color: rgba(79, 195, 247, 0.9);
  display: flex;
  flex-direction: column-reverse;
}

/*estrellas*/
.ec-stars-wrapper {
  font-size: 0;
  display: inline-block;
}

.ec-stars-wrapper a {
  text-decoration: none;
  display: inline-block;
  font-size: 10px;

}

.fa-star,
.fa-star-half-alt {
  font-size: 20px;
  color: rgb(212, 175, 55);
  text-shadow: 0px 8px 11px -6px rgba(0, 0, 0, 0.3);
}

.card-body {
  position: relative;
}

.btn {
  outline: none;
}

.btn-circle {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 5px solid #4fc3f7;
  background-color: #4fc3f7;
  font-size: 24px;
  line-height: 1.33;
  box-shadow: 7px 9px 39px -2px rgba(0, 0, 0, 0.17);
  text-align: center;
  outline: none;
}

.container-btn {
  z-index: 3;
  position: absolute;
  right: 10px;
  bottom: -50px;
}

.fa-luggage-cart {
  font-size: 20px;
}

/*Caracteristicas de viaje*/
.bg-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 5px solid #4fc3f7;
  background-color: #4fc3f7;
  font-size: 24px;
  line-height: 1.33;
  box-shadow: 7px 9px 39px -2px rgba(0, 0, 0, 0.17);
  text-align: center;
  margin: auto;
  position: relative;
}

.bg-icon .fas,
.bg-icon .fab {
  font-size: 20px;
  color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 100%;
  width: 100%;
}

.fab {
  font-size: 45px;
}

/* Testimonios*/

#wrap {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  position: relative;
  padding: 55px 0;
}

.review-title {
  margin-bottom: 30px;
}

.review-card--option-1 {
  border: 1px solid #d8d8d8;
  padding: 25px;
}

.review-card .review-card-img {
  border: 1px solid #eee;
  width: 100px;
  height: 70px;
  background-image: url('https://unsplash.it/200');
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto 15px;
}

.review-card .review-author .ra-author {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

.review-card .review-author .ra-rating-star {
  margin: 0 0 15px;
  padding: 0;
  list-style-type: none;
}

.review-card .review-author .ra-rating-star li {
  display: inline-block;
  margin: 0 -2px;
}

#testiCarousel .carousel-control {
  background: none;
  width: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
  text-shadow: 0 0 0;
  color: #000;
  font-size: inherit;
}

#testiCarousel .carousel-control.left {
  left: -75px;
}

#testiCarousel .carousel-control.right {
  right: -75px;
}

#testiCarousel .carousel-control i {
  font-size: 65px;
}

.text-align-center {
  text-align: center;
}